<meta property="og:description" content="{{ .Site.Params.Description }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://blogscroll.com/" />
<meta property="og:image" content="" />
<meta property="article:published_time" content="2020-11-01T00:00:00+00:00" />
<meta property="article:modified_time" content="2020-11-01T00:00:00+00:00" />

<meta itemprop="name" content="{{ .Site.Title }}">
<meta itemprop="description" content="{{ .Site.Params.Description }}">
<meta itemprop="datePublished" content="2020-11-01T00:00:00+00:00" />
<meta itemprop="dateModified" content="2020-11-01T00:00:00+00:00" />
<meta itemprop="image" content="">

{{ $directory_css := resources.Get "css/directory.css" }}
<link rel="stylesheet" href="{{ $directory_css.Permalink }}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<title>{{ .Site.Title }}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-10WQ5H9Z01"></script>
<script>
  var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
  var doNotTrack = (dnt == "1" || dnt == "yes");

  if (!doNotTrack) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-10WQ5H9Z01');
  }
</script>

<script>
    function goToRandomPage(){
        var links = document.getElementById('link-container').getElementsByTagName('a');

        var id = Math.floor(Math.random() * Math.floor(links.length - 1));
        window.location.href = links[id]['href'];
    }
</script>
