<!doctype html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "header.html" . }}

        <div class="site-title">
            <p>Welcome to BlogScroll! 👋</p>
            <p>This is an open directory of personal sites and blogs, maintained entirely <a class="blog-link" href="https://github.com/blogscroll/blogscroll">on GitHub</a>.</p>
            <p>This project was created by <a href="https://den.dev"  class="blog-link">Den Delimarsky</a> in an effort to bring attention to little digital gardens people maintain outside, well - walled gardens.</p>
        </div>
        <div class="link-container" id="link-container">
        {{ range .Site.Data }}
            {{ range $key, $value := . }}
                <div class="category-container">
                    <h3>{{ $key }}</h3>

                    {{ range $sorted := sort $value ".blogs" }}
                        {{ range $blogkey, $blogval := $sorted }}
                            <div class="blog-item">
                                <img class="blog-icon" src="{{ $blogval.favicon }}" decoding="async" />
                                <p><a class="blog-link" href="{{ $blogval.url }}">{{ $blogval.title }}</a></p>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
        {{ end }}
        </div>
    </body>
</html>
